<nav class="navbar navbar-expand-lg navbar-light bg-danger">
    <div class="container">
        <a class="navbar-brand float-left" > LeTs PLaY MuSiC !!!!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="navbar-brand float-left" routerLink='/home' routerLinkActive="active"> Home </a>
        <a class="nav-item nav-link float-left" routerLink='/favourites' routerLinkActive="active"> Favourites </a>
        </li>
       </ul>
      </div>